[user]
	name = guillaume
	email = guillaumep@sortify.tm
[alias]
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"
	co = checkout
	st = status
	br = branch
	ci = commit
	cane = commit --amend --no-edit
	please = push --force-with-lease	
# How to include this file in the git config
#[include]
#    path = ~/Documents/Projects/Tools-and-config/Config/.gitconfig
